# OPENAI API 키 환경 변수 / 김현준 / 25.09.17
OPENAI_API="your_openai_api_key"

# LANGSMITH 환경 변수 / 김현준 / 25.09.17
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="your_langsmith_project_name"

# Postgresql 환경 변수 / 김현준 / 25.09.17
POSTGRES_ENDPOINT="your_postgres_ip"
POSTGRES_USER="your_postgres_username"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DB="your_postgres_database"
POSTGRES_PORT="your_postgres_port"

# 레퍼런스 탐색 환경 변수 / 김현준 / 25.09.17
LASTFM_API_KEY="your_lastfm_api_key"
YOUTUBE_API_KEY="your_gcp_youtube_data_api_key"
SPOTIFY_CLIENT_ID="your_spotify_client_id"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret"

# 로깅 변수(개발 환경 : DEBUG | 배포 환경 : INFO) / 김현준 / 25.09.17
LOG_LEVEL="DEBUG"
LOG_DIR="logs"      # 기본 logs
LOG_FILE="app.log"     # 기본 app.log

# 모델 설정 변수 / 김현준 / 25.09.21
AI_MODEL="원하는 모델명"