# OPENAI API 키 환경 변수 / 김현준 / 25.09.17
OPENAI_API_KEY="your_openai_api_key"

# LANGSMITH 환경 변수 / 김현준 / 25.09.17
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="your_langsmith_api_key"
LANGSMITH_PROJECT="your_langsmith_project_name"

# Postgresql 환경 변수 / 김현준 / 25.09.17
POSTGRES_ENDPOINT="your_postgres_ip"
POSTGRES_USER="your_postgres_username"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DB="your_postgres_database"
POSTGRES_PORT="5432"

# Redis 환경 변수 / 김현준 / 25.10.05
REDIS_HOST="your_redis_ip"
REDIS_PORT=6379
# REDIS_PASSWORD="your_redis_password"  # 필요시 추가

# RabbitMQ 환경 변수 / 김현준 / 25.10.05
RABBITMQ_HOST="your_rabbitmq_ip"
RABBITMQ_PORT=5672
RABBITMQ_USERNAME="your_rabbitmq_username"
RABBITMQ_PASSWORD="your_rabbitmq_password"

# 레퍼런스 탐색 환경 변수 / 김현준 / 25.09.17
LASTFM_API_KEY="your_lastfm_api_key"
YOUTUBE_API_KEY="your_gcp_youtube_data_api_key"
SPOTIFY_CLIENT_ID="your_spotify_client_id"
SPOTIFY_CLIENT_SECRET="your_spotify_client_secret"

# 로깅 변수(개발 환경 : DEBUG | 배포 환경 : INFO) / 김현준 / 25.09.17
LOG_LEVEL="DEBUG"
LOG_DIR="logs"      # 기본 logs
LOG_FILE="app.log"     # 기본 app.log

# 모델 설정 변수 / 김현준 / 25.09.21
AI_MODEL="원하는 모델명"

# 파인튜닝 모델 경로 / 이재모 / 25.11.09
SENTIMENT_MODEL_PATH="저장한 모델 경로" #자기가 저장해놓은 곳으로 변경 필요

# S3 관련 환경 변수 / 김현준 / 25.11.08
AWS_ACCESS_KEY_ID="your_aws_access_key_id"
AWS_SECRET_ACCESS_KEY="your_aws_secret_access_key"
AWS_S3_REGION="ap-northeast-2"
AWS_S3_BUCKET="compasstep-dev"
AWS_S3_ENDPOINT=""  # 빈 값이면 AWS 기본 S3 엔드포인트 사용