# 유틸 패키지
requests # HTTP 요청을 위한 패키지 / 김현준 / 25.09.17
python-dotenv # 환경변수를 불러오기 위한 패키지 / 김현준 / 25.09.17
pydantic # 요청/응답 모델 정의 / 김현준 / 25.10.01

# fastapi 관련 패키지
fastapi # 김현준 / 25.09.17
uvicorn # 김현준 / 25.09.17

# Langchain 관련 패키지
langchain # Core 기능 / 김현준 / 25.10.01
langchain-openai # openai 모델을 사용하기 위한 패키지 / 김현준 / 25.09.21
langchain-community  # 커뮤니티 통합(툴/벡터스토어 등) / 김현준 / 25.10.20

# 레퍼런스 탐색 관련 패키지
pylast # last.fm API를 호출하기 위해 필요 / 김현준 / 25.09.17
google-api-python-client # Youtube API를 호출하기 위해 필요 / 김현준 / 25.09.17
pycountry # 국가의 정식 영문 명칭을 받아오기 위해 필요 / 김현준 / 25.09.17

# OPENAI 관련 패키지
openai # gpt 모델을 사용하기 위한 패키지 / 김현준 / 25.10.01

# DB 관련 패키지
psycopg # PostgreSQL DB에 접속하고 SQL 쿼리를 실행할 수 있도록 해주는 패키지 / 김현준 / 25.10.01
sqlalchemy # ORM / 김현준 / 25.10.01